{{!---
  ! # Title
  !
  ! Long description that spans multiple
  ! lines and even has other markdown
  ! type things.
  !
  ! Like more paragraphs.
  !
  ! * Like
  ! * Lists
  !
  !     <code>samples</code>
  !
  ! @arg {Type} name Description.
  ! @arg {Type} name Description that is really long
  !   and wraps to other lines.
  ! @arg {Type} name Description that is really long
  !   and wraps to other lines.
  !
  !   And has line breaks, etc.
  !
  ! @example
  !
  !     <ul>
  !         {{#each item}}
  !             <li>{{.}}</li>
  !         {{/each}}
  !     </ul>
  !
  ! @tag
  !--}}

{{!---
# Title

Long description that spans multiple
lines and even has other markdown
type things.

Like more paragraphs.

* Like
* Lists

    <code>samples</code>

@arg {Type} name Description.
@arg {Type} name Description that is really long
  and wraps to other lines.
@arg {Type} name Description that is really long
  and wraps to other lines.

  And has line breaks, etc.

@example

    <ul>
        {{#each item}}
            <li>{{.}}</li>
        {{/each}}
    </ul>

@tag
--}}

{{!---
    # Title

    Long description that spans multiple
    lines and even has other markdown
    type things.

    Like more paragraphs.

    * Like
    * Lists

        <code>{{samples}}</code>

    @arg {Type} name Description.
    @arg {Type} name Description that is really long
      and wraps to other lines.
    @arg {Type} name Description that is really long
      and wraps to other lines.

      And has line breaks, etc.

    @example

        <ul>
            {{#each item}}
                <li>{{.}}</li>
            {{/each}}
        </ul>

    @tag
--}}

    {{!---
      ! # Title
      !
      ! Long description that spans multiple
      ! lines and even has other markdown
      ! type things.
      !
      ! Like more paragraphs.
      !
      ! * Like
      ! * Lists
      !
      !     <code>samples</code>
      !
      ! @arg {Type} name Description.
      ! @arg {Type} name Description that is really long
      !   and wraps to other lines.
      ! @arg {Type} name Description that is really long
      !   and wraps to other lines.
      !
      !   And has line breaks, etc.
      !
      ! @example
      !
      !     <ul>
      !         {{#each item}}
      !             <li>{{.}}</li>
      !         {{/each}}
      !     </ul>
      !
      ! @tag
      !--}}

    {{!---
    # Title

    Long description that spans multiple
    lines and even has other markdown
    type things.

    Like more paragraphs.

    * Like
    * Lists

        <code>samples</code>

    @arg {Type} name Description.
    @arg {Type} name Description that is really long
      and wraps to other lines.
    @arg {Type} name Description that is really long
      and wraps to other lines.

      And has line breaks, etc.

    @example

        <ul>
            {{#each item}}
                <li>{{.}}</li>
            {{/each}}
        </ul>

    @tag
    --}}

    {{!---
        # Title

        Long description that spans multiple
        lines and even has other markdown
        type things.

        Like more paragraphs.

        * Like
        * Lists

            <code>{{samples}}</code>

        @arg {Type} name Description.
        @arg {Type} name Description that is really long
          and wraps to other lines.
        @arg {Type} name Description that is really long
          and wraps to other lines.

          And has line breaks, etc.

        @example

            <ul>
                {{#each item}}
                    <li>{{.}}</li>
                {{/each}}
            </ul>

        @tag
    --}}

{{! ignore }}
{{!-- ignore --}}
{{!
  ! ignore
  !}}
<!-- {{!--- ignore -->
<!-- ignore }} -->
